In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('country.csv')

In [24]:
df['Found'] = df['Name'].str.find('ru')

In [26]:
df.loc[df.loc[:,'Found'] != -1 ]

,Unnamed: 0,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,LocalName,GovernmentForm,HeadOfState,Capital,Found
0,0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,1
17,17,BDI,Burundi,Africa,Eastern Africa,27834.0,1962.0,6695000,46.2,903.0,Burundi/Uburundi,Republic,Pierre Buyoya,552.0,2
26,26,BLR,Belarus,Europe,Eastern Europe,207600.0,1991.0,10236000,68.0,13714.0,Belarus,Republic,Aljaksandr Lukašenka,3520.0,4
32,32,BRN,Brunei,Asia,Southeast Asia,5765.0,1984.0,328000,73.6,11705.0,Brunei Darussalam,Monarchy (Sultanate),Haji Hassan al-Bolkiah,538.0,1
54,54,CYP,Cyprus,Asia,Middle East,9251.0,1960.0,754700,76.7,9333.0,Kýpros/Kibris,Republic,Glafkos Klerides,2430.0,3
161,161,NRU,Nauru,Oceania,Micronesia,21.0,1968.0,12000,60.8,197.0,Naoero/Nauru,Republic,Bernard Dowiyogo,2728.0,3
167,167,PER,Peru,South America,South America,1285216.0,1821.0,25662000,70.0,64140.0,Perú/Piruw,Republic,Valentin Paniagua Corazao,2890.0,2
222,222,URY,Uruguay,South America,South America,175016.0,1828.0,3337000,75.2,20831.0,Uruguay,Republic,Jorge Batlle Ibáñez,3492.0,1

In [27]:
df.columns

Index(['Unnamed: 0', 'Code', 'Name', 'Continent', 'Region', 'SurfaceArea',
       'IndepYear', 'Population', 'LifeExpectancy', 'GNP', 'LocalName',
       'GovernmentForm', 'HeadOfState', 'Capital', 'Found'],
      dtype='object')